.intropanel {
	text-align: center;
	margin: 6em auto;
	padding-top: 8em;
	padding-bottom: 5em;
}
.intropanel .button {margin-top: 2.5em;}
.intropanel h2 {margin-bottom: 1em;}
.intropanel h2,
.intropanel p {color: #FFF;}

.formpanel {
	margin-top: 4em;
	margin-bottom: 2em;
}
.formpanel h4 {color: #FFF}